body{
    background: rgb(15, 15, 15);
    font: normal 14pt;
}
header{
    color: white;
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.479);

}
footer{
    color: white;
    font-style: italic;
    text-align: center;

}

#txti{
    border-radius: 50px;
}

#txtf {
    border-radius: 50px;
}

#txtp {
    border-radius: 50px;
}

.res {
    margin-top: 10px;
}